curriculum-request-dispatcherk/.gradle
curriculum-request-dispatcherk/build
curriculum-request-dispatcherk/gradlew
curriculum-request-dispatcherk/gradlew.bat
curriculum-request-dispatcherk/.kotlin
.idea